.contact h2{
    font-size: 2em;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url("http://paperlief.com/images/smooth-gold-foil-texture-wallpaper-2.jpg") repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    height: 34px;
}

.smicons{
    max-height: 50px;
    margin: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 15px;
    animation: fadein 4s forwards;
}

.contactIcons{
    display: flex;
    justify-content: center;
    margin: 15px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}